body {
    background-image: url("../img/background.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#burger{
    background-image: url("../img/burger.png");
    background-repeat: no-repeat;


}
#row{
    padding-left: 100px;
}
h1{
    color: red;
    font-family: 'Fontdiner Swanky', cursive;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    font-size: 40pt;

}
h2{
    color: red;
    font-family: 'Fontdiner Swanky', cursive;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    font-size: 30pt;

}
ul {
    color: red;
    font-family: 'Fontdiner Swanky', cursive;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    font-size: 16pt;
}
h3{
    color: red;
    font-family: 'Fontdiner Swanky', cursive;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    font-size: 20pt;
}
#label{
    color: red;
    font-family: 'Fontdiner Swanky', cursive;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    font-size: 20pt;
}
form {
    color:#000000;
    font-family: 'Fontdiner Swanky', cursive;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    font-size: 16pt;
}
img{
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}